{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Список новостей{% if category is defined %}
        по категории {{ category.name }}
        {% endif %}{% if tag is defined %}
            по тегу "{{ tag.name }}"
        {% endif %}
    </h1>
    {% for entity in entities %}

        {% if loop.index0 % 2 == 0 %}
            <section class="ym-grid linearize-level-2">
        {% endif %}
        <article class="ym-g50 ym-gl">
            <div class="ym-gbox">
                <!-- content -->
                <h3><a href="{{ path('article_show', { 'id': entity.id }) }}">{{ entity.name }}</a></h3>
                <p>{{ entity.excerpt }}</p>
                <!--p><a href="{{ path('article_edit', { 'id': entity.id }) }}">edit</a></p-->
                <!--
                            <div>{{ entity.excerpt }}</div>
            <div>{{ entity.content }}</div>
            <div>{{ entity.status }}</div>
            <div>{{ entity.author }}</div>
            <div>{{ entity.categoryId }}</div>
                -->
            </div>
        </article>
        {% if loop.index0 % 2 == 1 %}
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
