{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }}</h1>

    <section class="ym-grid linearize-level-2">
        <article class="">
            <div class="ym-gbox">
                <p>{{ entity.content }}</p>

                <p>Категория: <a href="{{ path('article_category', { 'category': category.id }) }}">
                        {{ category.name }}
                    </a></p>
                {% if tags.count %}
                <p>
                    Теги:
                        {% for tag in tags %}
                            <a href="{{ path('article_tag', { 'tag': tag.id }) }}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                </p>
                {% endif %}


                <!--
                            <div>{{ entity.excerpt }}</div>
            <div>{{ entity.content }}</div>
            <div>{{ entity.status }}</div>
            <div>{{ entity.author }}</div>
            <div>{{ entity.categoryId }}</div>
                -->
            </div>
        </article>
    </section>

    <ul class="record_actions">
        <li>
            <a href="{{ path('article') }}">
                Вернуться к списку
            </a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
